@font-face {
  font-family: "Century Gothic";
  src: url("fonts/11528.ttf") format("truetype");
}
body{
  font-family: "Century Gothic", serif;
  color: white;
  background-color: #18191D;
  width: 100%;
}